body{
    font-family:arial;
    background:#E5E5E5;
}
#container{
    width:70%;
    margin-left:auto;
    margin-right:auto;
}

h1, h2{
    text-align:center;
}
h1{
    background:#39587F;
    border: 1px solid #333;
    border-radius:5px;
    padding:20px;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    color:#E5E5E5;
}
#ad{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}
nav{
    background:#333;
    margin-left:2%;
    margin-top:30px;
    padding:0;
    width:16em;
    float:left;
}
nav li{
    list-style:none;
    margin:0;
    padding:0
}
nav a{
    background: #333;
    border-bottom:1px solid #393939;
    color:#ccc;
    display:block;
    margin:0;
    padding: 8px;
    text-decoration:none;
}
nav li a:hover{
    background:#252525;
    color:#fff;
    padding-bottom: 8px;
}
#content{
    width:60%;
    float:right;



}
#img{
    float:right;
    margin-top:-110px;

}
